@use "../utils/" as *;

.header {
    height: 130px;
    width: 100%;
    color: $color-text-inverted;
    font-size: $font-size-xxl;
    background: $color-primary;
    @media (max-width: 1440px) {
    padding: 0 20px;
    }
    &__content {
        padding: 30px;
        display: flex;
        max-width: 1440px;
        margin: 0 auto;
        flex-direction: row;
        justify-content: space-between;
    }
}